div#profileWrapper {
    width: 960px;
    margin: 60px auto 60px;

    .nav {
      margin: 0;
    }

    div.progressb {
        position: relative;
        background-color: #564940;
        height: 50px;
        border-radius: 4px;

        div.bar {
            background-color: #fff;
            height: 4px;
            // width: 100%;
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
        }

        div.step {
            float: left;
            position: relative;
            width: 20%;
            height: 1%;

            div.number {
                background-color: #fff;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                border-radius: 4px;
                position: absolute;
                top: 10px;
            }

            div.copy {
                position: absolute;
                top: 35px;
                left: 0;
                color: #fff;
                font-size: 14px;
            }
        }
    }

    div.steps {
        margin: 0 0 20px;
        padding: 20px;
        border-left: 3px solid #eee;
        background-color: #f4f8fa;
        border-color: #5bc0de;

        div.copy {

        }
    }

    div.overlay {

        div.o-content {
            width: 45%;
            margin-left: -22.5%;
            box-sizing: border-box;
            padding: 20px;
            height: auto;

            h1 {
                font-size: 32px;
                font-weight: normal;
                margin: 0 0 10px;
            }

            p {
                margin: 0;
            }

            div.options {
                border-top: 1px dashed #ddd;
                padding: 12px 0 0 0;
                margin: 24px 0 0 0;

                div.option {
                    margin: 0 12px 8px 0;

                    div.copy {
                        // float: left;
                        line-height: 32px;
                        // text-overflow: ellipsis;
                        // white-space: nowrap;
                        // overflow: hidden;
                        // width: 420px;
                        // margin: 0 12px 0 0;
                        font-size: 24px;
                        text-align: center;
                    }

                    div.networks {
                        width: 124px;
                        margin: 18px auto 0;
                        // float: left;

                        a {
                            font-size: 18px;
                            height: 36px;
                            line-height: 36px;
                            text-align: center;
                            width: 36px;
                            display: block;
                            float: left;
                            border-radius: 100px;
                            color: #fff;
                            margin: 0 8px 0 0;

                            &:last-child {
                                margin: 0;
                            }

                            &:hover {
                                text-decoration: none;
                            }

                            &.icon-twitter {
                                background-color: #00A9F2;

                                &:hover {
                                    background-color: #80D4F9;
                                }
                            }

                            &.icon-facebook {
                                background-color: #3D529D;

                                &:hover {
                                    background-color: #9EA9CE;
                                }
                            }

                            &.icon-envelope {
                                background-color: #F01F00;

                                &:hover {
                                    background-color: #F88F80;
                                }
                            }
                        }
                    }
                }
            }

            div.nav {
                position: relative;
                height: 24px;
                margin: 12px 0 0;
                padding: 12px 0 0;
                border-top: 1px dashed #ddd;

                a {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;
                    background-color: #373942;
                    // border: 1px solid #333;
                    border-radius: 4px;

                    &:hover {
                        text-decoration: none;
                        background-color: #fff;
                        color: #373942;
                    }

                    &.left {
                        left: 0;
                    }

                    &.right {
                        right: 0;
                    }
                }
            }
        }
    }

    div.content {
        border: solid #ddd;
        border-width: 0 1px 1px;

        div.block {
            padding: 32px;

            div.success {
                margin: 0 0 20px;
                padding: 20px;
                border-left: 3px solid #eee;
                background-color: #F5FAF4;
                border-color: #5BDE8F;
                font-size: 18px;
                display: none;

                span {
                    padding: 0 8px 0 0;
                }
            }

            &.success {

                div.success {
                    display: block;
                }
            }
        }

        div#dashboardBlock {
            min-height: 220px;

            div.actions {
                // background-color: #FCF6F4;
                // height: 50px;
                // border-top: 1px solid #ddd;
                // margin: 20px 0 0;

                // div.btnWrapper {
                //     text-align: center;
                //     padding: 10px 0 0;
                // }
            }

            div.column {
                float: left;
                width: 439px;
                box-sizing: border-box;
                padding: 0 32px 0 0;
                position: relative;

                div.headline {
                    font-size: 24px;
                    height: 36px;
                    line-height: 36px;
                    margin: 0 0 16px 0;
                }

                &.walks {

                    > a.btn {
                        position: absolute;
                        right: 32px;
                        top: 5px;
                    }

                    div.nullcase {

                        div.copy {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        div.btnWrapper {
                            padding: 8px 0 0;
                        }
                    }

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        max-height: 320px;
                        overflow-x: auto;

                        li {
                            margin: 0;
                            list-style-type: none;
                            padding: 0 0 24px;

                            div.title {

                                a {
                                    display: block;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    width: 90%;
                                }
                            }

                            div.subactions {

                                a {
                                    display: block;
                                    float: left;
                                    color: #777;
                                    text-decoration: underline;
                                    margin: 0 8px 0 0;
                                    font-size: 12px;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.city {

                    > a.btn {
                        position: absolute;
                        right: 32px;
                        top: 5px;
                    }

                    div.stats {

                        div.walks,
                        div.posts {
                            margin: 0 0 6px;

                            div.count {
                                float: left;
                                height: 32px;
                                width: 32px;
                                border-radius: 100px;
                                line-height: 32px;
                                background-color: #FFD9C7;
                                text-align: center;
                                color: #000;
                                margin: 0 4px 0 0;
                            }

                            div.name {
                                float: left;
                                height: 32px;
                                line-height: 32px;
                            }
                        }
                    }

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        max-height: 320px;
                        overflow-x: auto;

                        li {
                            margin: 0;
                            list-style-type: none;
                            padding: 0 0 24px;

                            div.title {

                                a {
                                    display: block;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    width: 90%;
                                }
                            }

                            div.subactions {

                                a {
                                    display: block;
                                    float: left;
                                    color: #777;
                                    text-decoration: underline;
                                    margin: 0 8px 0 0;
                                    font-size: 12px;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.posts {

                    > a.btn {
                        position: absolute;
                        right: 0;
                        top: 5px;
                    }

                    div.nullcase {

                        div.copy {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        div.btnWrapper {
                            padding: 8px 0 0;
                        }
                    }
                }
            }

            &.threeColumnLayout {

                div.column {
                    width: 298px;
                }
            }
        }

        div#cityBlock {
            padding: 32px 0 0;

            div.main {
                padding: 0 32px 32px;

                div.headline {
                    font-size: 24px;
                    height: 36px;
                    line-height: 36px;
                    // margin: 0 0 16px 0;
                }

                > p {
                    margin: 0;
                    padding: 0;
                }

                div.editables {
                    margin: 24px 0 0;

                    div.column {
                        float: left;
                        width: 298px;
                        box-sizing: border-box;
                        padding: 0 32px 0 0;

                        div.name {
                            font-weight: bold;
                        }

                        div.val {
                            padding: 8px 0 0;

                            p {
                                position: relative;
                                display: block;
                                margin: 0;
                                padding: 0 0 0 32px;

                                span.icon {
                                    position: absolute;
                                    font-size: 24px;
                                    left: 2px;
                                    top: 6px;
                                }

                                span.bgPhoto {
                                    background-image: url('http://janeswalk.org/files/3213/8152/8704/IMG_6280.jpg');
                                    display: block;
                                    height: 50px;
                                    width: 100%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                a {
                                    font-size: 12px;
                                    padding: 0 0 0 8px;
                                }
                            }

                            > a.btn {
                                margin: 10px 0 0;
                            }
                        }
                    }
                }
            }

            div.footer {
                padding: 32px;
                text-align: center;
                background-color: #FCF6F4;
                border-top: 1px solid #ddd;

                p {
                    font-size: 22px;
                    margin: 0 0 20px;
                }
            }
        }

        div#accountBlock {

            form {

                div.column {
                    float: left;
                    width: 439px;
                    box-sizing: border-box;
                    padding: 0 32px 0 0;

                    div.headline {
                        font-size: 24px;
                        height: 36px;
                        line-height: 36px;
                        margin: 0 0 16px 0;
                    }

                    span.required {
                        color: red;
                        padding: 0 4px 0 0;
                    }

                    label {
                        display: inline;

                        &.checkbox {
                            display: block;
                            padding-left: 10px;
                        }
                    }

                    input[type="text"],
                    input[type="password"] {
                        width: 50%;
                        height: 36px;
                    }
                }
            }
        }

        div#pictureBlock {
            position: relative;

            div.headline {
                font-size: 24px;
                height: 36px;
                line-height: 36px;
                margin: 0 0 16px 0;
            }

            div.column {
                float: left;
                // width: 439px;
                box-sizing: border-box;
                padding: 0 32px 0 0;

                &.widget {
                    width: 520px;
                }

                &.tips {
                    width: 358px;

                    a {
                        display: block;
                        text-align: right;
                        margin: 20px 0 0 0;
                    }
                }
            }
        }

        div#resourcesBlock {

            div.headline {
                font-size: 24px;
                height: 36px;
                line-height: 36px;
                // margin: 16px 0 0 0;
            }

            div.resourceBlock {
                margin: 0 0 48px;
            }

            div.vimeos {

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        position: relative;
                        width: 250px;
                        float: left;
                        margin: 0 42px 0 0;
                    }
                }
            }

            div.ideas {

                ul {
                    list-style-type: none;
                    padding: 6px 0 0;
                    margin: 0;

                    li {
                        position: relative;
                        width: 250px;
                        float: left;
                        margin: 0 42px 0 0;

                        div.banner {
                            border-radius: 4px 4px 0 0;
                            width: 250px;
                            height: 150px;
                            background-size: cover;
                        }

                        img.flag {
                            border-radius: 4px;
                            border: 2px solid #fff;
                            width: 50px;
                            // height: 50px;
                            position: absolute;
                            left: 100px;
                            top: 135px;
                        }

                        div.meta {
                            border: 1px solid #ddd;
                            border-bottom-width: 2px;
                            font-size: 16px;
                            padding: 12px 0 12px 8px;
                            border-radius: 0 0 4px 4px;

                            div.city {

                                a {
                                    font-size: 16px;
                                }
                            }

                            div.title {

                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            div.cos {

                ul {
                    list-style-type: none;
                    padding: 6px 0 0;
                    margin: 0;

                    li {
                        position: relative;
                        width: 250px;
                        float: left;
                        margin: 0 42px 0 0;

                        img.map {
                            border-radius: 4px 4px 0 0;
                        }

                        img.display {
                            border-radius: 100px;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            left: 98px;
                            top: 85px;
                            border: 2px solid #fff;
                        }

                        div.meta {
                            border: 1px solid #ddd;
                            border-bottom-width: 2px;
                            font-size: 16px;
                            padding: 12px 0 12px 8px;
                            border-radius: 0 0 4px 4px;

                            div.email {

                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            div.files {


                ul {
                    list-style-type: none;
                    padding: 6px 0 0;
                    margin: 0;

                    li {
                        position: relative;
                        width: 250px;
                        float: left;
                        margin: 0 42px 10px 0;

                        a {
                            display: block;
                            height: 50px;
                            padding: 0 0 0 50px;

                            img {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 44px;
                            }
                        }
                    }
                }
            }
        }
    }
}

