//
// Application Stylesheet
//
$orange: #F16725;
$blue: #6BADFD;
$darkgrey:#666;
$lightgrey: #efefef;
$blogblues: #92CDF5;

// Constants for media queries
$media_full: 979px;
$media_thin: 768px;
$media_mobile: 480px;

@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700italic,700);

// General

$mainWidth: 1170px;
$navbar_height: 60px; /* to position for various media settings */

@import "partials/base";
@import "homepage";
@import "city";
@import "walk";
@import "custom-walk";
@import "view";
@import "mailchimp";

html {
  @media (min-width: $media_mobile) { padding-bottom:111px; } /* Pad for the fixed-footer */
}
body {
  @media (max-width: $media_full) {
    padding-top: 0;
  }
  overflow-x: hidden;
  font-size: 15px;
  line-height: 20px;
  font-weight:300;
  color:#222;
  font-family: "museo", "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

strong, b {
  font-weight:700;
//  color:#39c1f1;
}
em {
  color:#222;
}
blockquote {
  text-transform:uppercase;
  font-weight:100;
  font-size:25px;
  line-height:30px;
  color:$orange;
  width:35%;
  float:left;
  padding:1.5em;
  margin-left:-150px;
}

// Hokey pokey to get things to display right in edit mode
body.logged_in {
  $dashmenu_height: 50px;
  padding-top:$dashmenu_height;
  header.navbar {
    top:$dashmenu_height;
    z-index:6;
  }
  #ccm-highlighter { z-index:7; }
  .modal-backdrop {
    z-index:1;
  }
  .modal {
    z-index:2;
  }
}
body.c5-edit {
  padding-top:180px;
}
html.index-bg body {
  padding:0;
}

.box-sizing { 
  * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    &:after,&:before {
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
    }
  }
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "museo-slab", "Roboto Slab", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 1.5em 0 0.6em 0;
}
h1 { font-weight:100; font-size:40px; }
h2 { font-weight:100; font-size:40px; }
h3 { font-weight:100; font-size:25px; }
h4 { font-weight:700; font-size:17px; }
h5 { font-weight:700; font-size:14; }

// Logo

.brand {
  background: url("../images/jwlogo.svg");
  
  @include background-size(70%);
  background-position: center center;
  background-repeat: no-repeat;
  width: 144px;
  height: $navbar_height;
  padding: 0;
}

.logo {
  @extend .brand;
  @include background-size(contain);
}
body.form .brand {
  width:auto;height:auto;background:transparent;
}

// Helpers

.hide-text {
  text-indent: 130%;
  white-space: nowrap;
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

// Breadcrumbs 

.breadcrumb {
  > li {
    text-shadow: none;
  }
  a:hover {
    text-decoration: none;
  }
  background: none;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  border-width: 0 0 1px 0;
}

// Calendar Widget

.calendar-wrap {
  padding: 0 10px;
  position: relative;
  .calendar-header {
    font-size: 1.10em;
    margin: 0 0 1em 0;
    width: 100%;
    text-align: center;
    span {
      font-family: "museo-slab", "Roboto Slab", serif;
      font-weight: 800;
    }
  }
  .custom-month {
    text-align: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
  .custom-year {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

// Bootstrap Button Overrides

.btn {
  font-family: "museo-slab", "Roboto Slab", serif;
}

// Footer

footer {
  clear:both;
  color: #50616D;
  padding: 12px 0;
  background: #dcdcdc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "museo-slab", "Roboto Slab", serif;
  font-weight:500;
  font-size:11px;
  line-height:1.6;
  position:fixed; z-index:2; width:100%; bottom:0;
  @media (max-width: $media_mobile) {
    position:static;
  }
  h4 {
    margin-top: 0;
  }
  a {
    color: #df520e;
  }
  ul, li { list-style-type: none; }
  ul { margin:0 0 0 5px; }
  li { 
    display: inline-block;
    &:before { content: "| "; margin-right:3px; }
  }
  .social-icons {
    font-size:18px;
    display:inline-block;
    vertical-align:top;
    a {
      text-decoration:none;
      i { color:$blue; font-size:24px; margin-right:4px; }
    }
    & + div {
      width:80%;
      display:inline-block;
    }
  }
}

// Spinner

#progress {
  position: fixed;
  height: 100px;
  z-index: 1;
  width: 100%;
  top: 40%;
}

// Form well spacing

.form-actions {
  .btn {
    margin-right: 15px;
  }
}

// Donate

#donate {
  padding: 10px 15px 10px;
  margin-top: 0;
  color: #ffffff;
  background-color: #f16725;
  text-shadow: none;
  font-size:1em;
}

#donate:hover {
  color: #ffffff;
  background-color: #df520e;
}

// Infobox

.infoBox {
  box-shadow: inset 0 -3px 0 #0E2B3E, 3px 0 2px rgba(#000,0.2);
  color: #555;
  &:after {
    content: "";
    width: 9px;
    height: 17px;
    background: #009AE6;
    border-top: 1px solid #0084C5;
    border-right: 1px solid #0084C5;
    position: absolute;
    bottom: -4px;
    left: -1px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 5px;
  }
}

// Notification 

.notification {
  @include background(url('images/festival-bg.png') bottom right no-repeat #35B0D7);
  color: #fff;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  height: 0;
  @include transition(height 0.7s ease-in-out);
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &.expanded {
    height: 180px;
  }
  h4 {
    margin-bottom: 0;
    font-size: 18px;
  }
  .title {
    font-size: 33px;
    margin: 0;
    line-height: 1em;
    font-weight: 400;
  }
  .container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.walk-beta {
    box-shadow: 0 2px 0 darken(#9854df,10%);
    background: #9854df;
    overflow: hidden;
    top: 0;
    @include transition(height 0.7s ease-in-out);
    &.expanded {
      height: 64px;
    }
    .title-sub {
      font-size: 20px;
      margin: 0;
    }
  }
}

.navbar {
  &+* {
    padding-top: $navbar_height;
  }
  &.dropped, &.edit {
    position:static;
    margin: 0 0 -$navbar_height 0;
    top:0;
    .navbar-outer {
      max-height:900px;
    }
  }
  font-family: "museo-slab", "Roboto Slab", serif;
  .nav { 
    font-size:1em;
  }
  .notification {
    position: absolute;
    overflow: hidden;
    background-image: none;
    top: 61px;
    box-shadow: 0 2px 0 darken(#9854df,10%);
    background: #9854df;
    .container {
      margin-top: 0.3em;
      margin-bottom: 0.5em;
    }
    .title-sub {
      font-size: 20px;
      margin: 0;
    }
    &.expanded {
      height: 50px;
    }
  }
  .nav-collapse {
    max-width:60%;
  }
  nav {
    float:left;
  }
  ul.nav.pull-right {
    float:right;
  }
  a { 
    cursor:pointer;
  }
  .search-close,.search-open {
    /* todo: get rid of all these importants */
    padding:10px 12px !important;
    border-radius:999px;
  }
  .search-close {
    background:$orange;
    text-shadow:none !important;
    display:none;
    &:hover { 
      color:inherit;
      background:$orange !important;
    }
    i {
      color:#fff;
    }
  }
  &.dropped {
    .search-close { display:block; }
    .search-open { display:none; }
  }
}

.navbar-outer {
  background-color:$darkgrey;
  max-height:0;
  overflow:hidden;
  @include transition-duration(0.6s);
  form {
    max-width:$mainWidth;
    margin:0 auto;
    padding: 25px 0;
    fieldset.search {
      display:inline-block;
      margin-right:50px;
      vertical-align:top;
    }
    div#searchResults {
      display:inline-block;
      max-width:600px;
      margin-top:-10px;
      mark {
        color:inherit;
        background-color:inherit;
        border-bottom: 1px dotted;
      }
      h4, p { 
        margin:0;
        padding: 0 0 8px 0;
      }
      .searchResult {
        margin:0;
        padding: 8px 8px 0 8px;
        @include transition-duration(0.3s);
        &:hover {
          background:#333;
        }
      }
      a {
        color:$lightgrey;
        &:hover {
          text-decoration:none;
        }
      }
    }
  }
}

// input:submit style for little forms
fieldset.search {
  $buttonoffset:4px;
  $defaultWidth: 280px;
  input[type=text] { width:$defaultWidth; font-size:14px; padding: 10px; margin:0; line-height:1.5; font-family:"museo-slab", "Roboto Slab", serif;  border: 1px solid #b4b4b4; border-radius: 8px 0 0 8px; height:21px; line-height:24px;
  }
  input[type=submit] { font-family:"museo-slab", "Roboto Slab", serif; font-size:18px; height:43px; border: 1px solid #b4b4b4; border-left:none; background:$lightgrey; font-weight:300; color:#555; margin-left:-$buttonoffset; border-radius: 0 8px 8px 0; padding: 0 15px; line-height:24px; vertical-align:top; }
  input[type=checkbox] { display:none; }
}


// Walk Label
.walk-label {
  font-family: "museo-slab", "Roboto Slab", serif;
  padding: 5px 8px;
  color: #fff;
  background: #F2C50F;
  display: inline-block;
  float: left;
  margin-right: 30px;
  border-radius: 5px;
  font-size: 14px;
}

// Blog Cards
.blog {
  color: $darkgrey;
}

// Error 404
.error404 {
  padding-top: 0;
  background: #ebeef1;
  .container-outter {
    @extend .full;
    padding: 150px 0;
    color: #50616D;
    text-align: center;
    background: #fff;
  }
  .navbar_home {
    margin-top: 2em;
  }
}

// Reg Confirm 
.reg-confirmation, .reg-confirmation-congested {
  .modal-footer {
    text-align: center;
  }
  footer {
    display: none;
  }
}

.inline.tags .tag i[class^=icon-] {
  width:100%;
  display:block;
  text-align:center;
  line-height:20px;
}

#ccm-profile-wrapper {
  padding-bottom:25px;
}



/* onassar */
.navbar {
  &+* {
    padding-top: $navbar_height;
    @media (max-width: 979px) {
      padding-top: 0;
    }
  }
}

header.navbar {
  div.navbar-inner {
    div.container {
      height: $navbar_height;
      overflow: hidden;
    }
  }
}
