// Generic layouts - profile page, blogs, etc.
body.blog {
  padding-top:60px;
  #central > header {
    background: $orange;
    position:relative;
    @include background-size(cover);
    background-position:50%;
    color:#fff;
    text-align:center;
    padding: 200px 0 40px 0;
    margin-bottom:20px;
    h1,p { margin:0 auto; z-index:2; position:relative; }
    h1 { max-width:$mainWidth*0.8; font-weight:500; margin-bottom:5px; font-size:68px; line-height:74px; text-shadow: -1px 1px #444 }
    p.description { font-style:italic; font-size:26px; line-height:1.4; margin-bottom:25px;text-shadow: -1px 1px #444 }
    em { color:#fff; }
    i.backfade {
      z-index:0;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0; left:0;
      background:#000;
      opacity: 0.5;
    }
  }
  #body {
    max-width:$mainWidth - 650px !important;
    img {
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

//    padding-right:350px;
  }
}
body.full {
  #body { 
    max-width:$mainWidth - 300px; padding-right:300px;
  }
  #full { 
    max-width:$mainWidth; margin:0 auto;
  }
  .ccm-page-list {
    width:900px;
    margin-top:30px;
    .thumbnail {
      min-height:450px; margin-bottom:10px;
    }
  }
}
body.site-page {
  .ccm-profile-body-item {
    div {
      line-height:1.7;
      label {
        min-width:145px;
        display:inline-block;
      }
    }
  }
}
     
