//
// Application Stylesheet
//
@color-orange: #F16725;
@color-blue: #6BADFD;
@color-darkgrey: #666;
@color-charcoal: #333;
@color-lightgrey: #efefef;
@color-blogblues: #92CDF5;

@height-navbar: 60px; // Needed to push-down content when navbar is fixed

// Fonts -- actual imports in fonts.less. This is for convenience variables
@font-slab: "museo-slab","Roboto Slab",serif;
