//
// Application Stylesheet
//
@color-orange: #F16725;
@color-blue: #6BADFD;
@color-darkgrey: #666;
@color-charcoal: #333;
@color-lightgrey: #efefef;
@color-blogblues: #92CDF5;

// Constants for media queries
@media-full: 979px;
@media-thin: 768px;
@media-mobile: 480px;
@media-screen: 1170px;
@height-navbar: 60px; // Needed to push-down content when navbar is fixed

// Fonts -- actual imports in fonts.less. This is for convenience variables
@font-slab: "museo-slab","Roboto Slab",serif;
