//
// Application Stylesheet
//
@orange: #F16725;
@blue: #6BADFD;
@darkgrey: #666;
@charcoal: #333;
@lightgrey: #efefef;
@blogblues: #92CDF5;

// Constants for media queries
@media_full: 979px;
@media_thin: 768px;
@media_mobile: 480px;
@mainWidth: 1170px;
@navbar_height: 60px; // Needed to push-down content when navbar is fixed

