div.ccm-page-list-rss-icon {margin-top: 10px}
ul.ccm-page-list-owners {
  list-style-type:none;
  padding: 0;
  margin:0; 
  margin-left:0 !important;
  li { padding-bottom:1em; position:relative; }
  h3,h4,h5 {
    color:#333;
  }
  h3 { margin-bottom:2px; }
  h4 { margin-top:2px; }
  p { margin:0; }
  img.u-avatar { margin:0; position:absolute; border-radius:99999px; -webkit-border-radius:99999px; left:-140px; top:0; }
  .city-organizer {
    border:none;
    width:420px; display:inline-block;
    .city-organizer-details { width:220px; }
  }
}
.obfuscated {
  position:relative;
  font-family:"Courier New",courier,monospace;
  height:1.3em;
  width:16em;
}
.obfuscated div {
  position:absolute;
}
h2.ccm-page-list-header {
  position:relative;
  width:100%;
}
h2.ccm-page-list-header a {
  font-family:"Courier New",courier,monospace;
  right:0; }
