div.ccm-page-list-rss-icon {
  margin-top: 10px; }

ul.ccm-page-list-owners {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 0 !important; }
  ul.ccm-page-list-owners li {
    padding-bottom: 1em;
    position: relative; }
  ul.ccm-page-list-owners h3, ul.ccm-page-list-owners h4, ul.ccm-page-list-owners h5 {
    color: #333; }
  ul.ccm-page-list-owners h3 {
    margin: 0 0 2px 0; }
  ul.ccm-page-list-owners h4 {
    margin-top: 2px; }
  ul.ccm-page-list-owners p {
    margin: 0; }
  ul.ccm-page-list-owners .u-avatar {
    margin: 0;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    top: 0;
    width: 80px;
    height: 80px; }
    ul.ccm-page-list-owners .u-avatar.placeholder0 {
      background-color: #f16725; }
    ul.ccm-page-list-owners .u-avatar.placeholder1 {
      background-color: #6badfd; }
    ul.ccm-page-list-owners .u-avatar.placeholder2 {
      background-color: #666666; }
  ul.ccm-page-list-owners .city-organizer {
    border: none;
    width: 420px;
    display: inline-block; }
    ul.ccm-page-list-owners .city-organizer .city-organizer-details {
      width: 220px; }

.obfuscated {
  position: relative;
  font-family: "Courier New",courier,monospace;
  height: 1.3em;
  width: 16em; }

.obfuscated div {
  position: absolute; }

h2.ccm-page-list-header {
  position: relative;
  width: 100%; }

h2.ccm-page-list-header a {
  font-family: "Courier New",courier,monospace;
  right: 0; }
