<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Submit a Walk | Jane’s Walk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/lib/font-awesome/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/js/vendor/modernizr-2.6.1.min.js" type="text/javascript"></script>
</head>
<body class="components components_walkform components_walkform_header">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><i class="icon-map-marker"></i> Toronto, Ontario, Canada</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="/" class="navbar-link">Username</a>
        </p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid form-container">
  <div class="row-fluid">
    <div class="span2">
      <div id="progress-panel">
        <div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li  class="active"><a data-toggle="tab" class="description" href="#description"><i class="icon-list-ol"></i> Describe Your Walk</a></li>
    <li ><a data-toggle="tab" class="route" href="#route"><i class="icon-map-marker"></i> Share Your Route</a></li>
    <li ><a data-toggle="tab" class="time-and-date" href="#time-and-date"><i class="icon-calendar"></i> Set the Time & Date</a></li>
    <li ><a data-toggle="tab" class="accessibility" href="#accessibility"><i class="icon-flag"></i> Make it Accessible</a></li>
    <li ><a data-toggle="tab" class="team" href="#team"><i class="icon-group"></i> Build Your Team</a></li>
    
  </ul>
  <br>
  <section id="button-group">
    <button class="btn btn-info btn-preview" id="preview-walk" title="Preview what you have so far." data-previewurl="http://janeswalk.tv/be-there-be-square.html">Preview Walk</button>
    <button class="btn btn-info btn-submit" id="btn-submit" title="Publishing will make your visible to all.">Publish Walk</button>
    <button class="btn btn-info save" title="Save and return later" id="btn-save">Save and return later</button>
  </section>
</div>
      </div>
    </div>
    <div class="span7" id="main-panel" role="main">
      <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><i class="icon-map-marker"></i> Toronto, Ontario, Canada</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="/" class="navbar-link">Username</a>
        </p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
    </div>
    <div class="span3" id="tips-column">
      <aside id="tips-panel" role="complementary">
        <div class="popover right" id="city-organizer" style="display:block;">
  <h3 class="popover-title" data-toggle="collapse" data-target="#popover-content"><i class="icon-envelope"></i> Contact Jasmine for help</h3>
  <div class="popover-content collapse in" id="popover-content">
    <div class="text-center">
          <img src="/img/jasmine.jpg" class="img-circle" alt="">
    </div>
    <p>
      Hi! I'm Jasmine, the City Organizer for Toronto. I'm here to help so if you have any questions email me at <strong>jasmine.frolick@janeswalk.net </strong></p>
  </div>
</div>
<!-- Profile of City organizer -->





<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="transit">
  <h3 class="popover-title">Make it easy to get there by transit</h3>
  <div class="popover-content">
    <p>Have your walk start and finish near a transit stop to make it more accessible</p>
  </div>
</div>

<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="question-one">
  <h3 class="popover-title">Creating Great Walks</h3>
  <div class="popover-content">
    <a href="#video-tip" data-toggle="modal"></a>
    <a href="#video-tip" data-toggle="modal" class="text-center">Watch the video</a>
  </div>
</div>

<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="map-canvas">
  <h3 class="popover-title">Learn something new</h3>
  <div class="popover-content">
    <p>Think of a question you can ask at each stop to engage the group and create some AHA! moment, for both them and you too.</p>
  </div>
</div>





<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="add-member">
  <h3 class="popover-title">Take a load off</h3>
  <div class="popover-content">
    <p>Sharing  the  hosting  duties  with  some  co‐guides  is  often  a  good  idea  and  lightens  the  load.</p>
  </div>
</div>

<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="longwalkdescription">
  <h3 class="popover-title">Make your description shine</h3>
  <div class="popover-content">
    <p>Ask some rhetorical questions that have to do with what you’ll talk about. In your description, give people an idea of whether on your walk they'll be stopping and talking with local shop owners or residents. </p>
  </div>
</div>


<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="walkduration">

  <h3 class="popover-title">Calculating your Walk Length</h3>
  <div class="popover-content">
    <p>Make your walk duration twice as long as your rehearsal walk.</p>
  </div>
</div>


<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="new-communityvoice">
  <h3 class="popover-title">Give your walk more character!</h3>
  <div class="popover-content">
    <p>Consider  involving  some  local  residents  or  business  people  on  the  stroll.  Talk  to  a  hot‐dog  vendor  who  is  thoroughly  familiar  with  the  characters,  habituees,  the  patterns  and  rhythms  of  the  street  (Jane  Jacobs  idea  of  the  sidewalk  ballet).  You  might  want  to  drop  into  a store,  feature  an  older  neighbour  with  interesting  stories,  or  even  meet up  with  a  local  politician  to get  their  perspective  on  the  neighbourhood.
</p>
  </div>
</div>


<!-- Tip Title Here -->
<div class="popover right tip fade" data-tipfor="addpoint">

  <h3 class="popover-title">Find the sweet spot</h3>
  <div class="popover-content">
    <p>We recomend having between 6 and 10 stops on a walk.</p>
  </div>
</div>

<!-- New #1 Tip Title Here -->
<div class="popover right tip fade" data-tipfor="longwalkdescription">

  <h3 class="popover-title">Keep the conversation 50/50</h3>
  <div class="popover-content">
    <p>Look for opportunities to engage your participants with questions and conversation that lead to a 50/50 split between walk leaders presenting and participants</p>
  </div>
</div>

<!-- New #2 Tip Title Here -->
<div class="popover right tip fade" data-tipfor="longwalkdescription">

  <h3 class="popover-title">Include Multiple Views</h3>
  <div class="popover-content">
    <p>If your presenting a subject that could be viewed from different perspectives, include them in the walk. Better yet, have people on the walk share alternative views</p>
  </div>
</div>

<!-- New #3 Tip Title Here -->
<div class="popover right tip fade" data-tipfor="longwalkdescription">

  <h3 class="popover-title">Taking the Next Step</h3>
  <div class="popover-content">
    <p>Places are always changing. Discuss how your topics will evolve and change over time. Whats the future view, and could participants get more engaged in this place.
</p>
  </div>
</div>


      </aside>
    </div>
  </div>
</div>

<div id="prototype" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Jane's Walk YearRound</h3>
  </div>
  <div class="modal-body">
        <p>It's your lucky day! Here at Jane's Walk, we've been cooking up plans to expand our walks to all months of the year and this is our very first pilot for creating a walk! What does that mean for you? It means that we want to hear what you think of the new Submit a Walk features and the spiffy new website in general. (Hopefully you can handle the glare of shiny newness.)</p>

        <p>You'll find that some things don't work, but fear not: you'll still be able to create and publish your walk, and you can always come back and edit the walk at any point. We're so excited that you're here.</p>
        <p>Thanks for coming along for the ride!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-large" data-dismiss="modal">Continue to my Walk</a>
  </div>

</div>

    <div class="progress-spinner"></div>

    <script type="text/javascript" src="//use.typekit.net/vet3xxc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script src="https://maps.googleapis.com/maps/api/js??key=AIzaSyCTbyfMAcZsWHj-oM3bg2FUrQTIDaVoi_A&v=3.exp&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/gmaps.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>

<!-- Publish Model 1 -->

<div id="publish-warning" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Okay, You're Ready to Publish</h3>
  </div>
  <div class="modal-body">
    <p>Just one more thing! Once you hit publish your walk will be live on Jane's Walk right away. You can return at any time to make changes.</p>
    
    <p><strong>Sections waiting for content are:</strong></p>  
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>

  </div>

  <div class="modal-footer">
    <div class="pull-left">
     <a href="" class="walkthrough" class="close" data-dismiss="modal"> Bring me back to edit</a>
    </div>
    <button class="btn btn-primary walkthrough" data-step="publish-confirmation">Publish</button>
  </div>

</div>



<!-- Publish Model 2 -->

<div id="publish-confirmation" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Your Walk Has Been Published!</h3>
  </div>
  <div class="modal-body">
    <p>Congratulations! Registration for your walk will be open within the next 24hrs. We'll email you when it's ready.</p>
    <h2 class="lead"> Don't forget to share your walk!</h2>

    <label>Your Walk Web Address:</label>
    <input type="text" class="clone js-url-field" value="http://janeswalk.tv/be-there-be-square.html" readonly="readonly">
    <hr>

    <button class="btn facebook"><i class="icon-facebook-sign"></i> Share on Facebook</button>
    <button class="btn twitter"><i class="icon-twitter-sign"></i> Share on Twitter</button>

  </div>

  <div class="modal-footer">

    <button class="btn btn-primary walkthrough">Close</button>
  </div>

</div>


<!-- Preview Modal -->

<div id="preview-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Preview of your Walk</h3>
  </div>
  <div class="modal-body">
    <iframe src="" frameborder="0">
      
    </iframe>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" class="close" data-dismiss="modal">Close Preview</a>
  </div>
</div>

