//
// Application Stylesheet
//
$orange: #F16725;
$blue: #6BADFD;

@import "partials/base";
@import "pages/homepage";
@import "pages/city";
@import "pages/create-walk";
@import "pages/walk";
@import "pages/custom-walk";

// General

body {
  padding-top: 80px;
  @media (max-width: 979px) {
    padding-top: 0;
  }
  overflow-x: hidden;
  font-size: 15px;
  line-height: 22px;
  text-rendering: optimizeLegibility;
}

.box-sizing { 
  * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    &:after,&:before {
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
    }
  }
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "museo-slab", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// Logo

.brand {
  @include background(image-url("../images/jwlogo.svg"));
  @include background-size(70%);
  background-position: center center;
  background-repeat: no-repeat;
  width: 144px;
  height: 60px;
  padding: 0;
}

.logo {
  @extend .brand;
  @include background-size(contain);
}

// Helpers

.hide-text {
  text-indent: 130%;
  white-space: nowrap;
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

// Breadcrumbs 

.breadcrumb {
  > li {
    text-shadow: none;
  }
  a:hover {
    text-decoration: none;
  }
  background: none;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  border-width: 0 0 1px 0;
}

// Calendar Widget

.calendar-wrap {
  padding: 0 10px;
  position: relative;
  .calendar-header {
    font-size: 1.10em;
    margin: 0 0 1em 0;
    width: 100%;
    text-align: center;
    span {
      font-family: "museo-slab", serif;
      font-weight: 800;
    }
  }
  .custom-month {
    text-align: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
  .custom-year {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

// Bootstrap Button Overrides

.btn {
  font-family: "museo-slab", serif;
}

// Footer

footer {
  color: #50616D;
  padding: 40px 0;
  margin-top: 0;
  background: #EBEEF1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
  h4 {
    margin-top: 0;
  }
  a {
    color: #df520e;
  }
  .container {

  }
}

// Spinner

#progress {
  position: fixed;
  height: 100px;
  z-index: 1;
  width: 100%;
  top: 40%;
}

// Form well spacing

.form-actions {
  .btn {
    margin-right: 15px;
  }
}

// Donate

#donate {
  padding: 10px 15px 10px;
  margin-top: 0;
  color: #ffffff;
  background-color: #f16725;
  text-shadow: none;
}

#donate:hover {
  color: #ffffff;
  background-color: #df520e;
}

// Infobox

.infoBox {
  box-shadow: inset 0 -3px 0 #0E2B3E, 3px 0 2px rgba(#000,0.2);
  color: #555;
  &:after {
    content: "";
    width: 9px;
    height: 17px;
    background: #009AE6;
    border-top: 1px solid #0084C5;
    border-right: 1px solid #0084C5;
    position: absolute;
    bottom: -4px;
    left: -1px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 5px;
  }
}

// Notification 

.notification {
  @include background(url('../images/festival-bg.png') bottom right no-repeat #35B0D7);
  color: #fff;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  height: 0;
  @include transition(height 0.7s ease-in-out);
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &.expanded {
    height: 180px;
  }
  h4 {
    margin-bottom: 0;
    font-size: 18px;
  }
  .title {
    font-size: 33px;
    margin: 0;
    line-height: 1em;
    font-weight: 400;
  }
  .container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.walk-beta {
    box-shadow: 0 2px 0 darken(#9854df,10%);
    background: #9854df;
    overflow: hidden;
    top: 0;
    @include transition(height 0.7s ease-in-out);
    &.expanded {
      height: 64px;
    }
    .title-sub {
      font-size: 20px;
      margin: 0;
    }
  }
}

.navbar {
  .notification {
    position: absolute;
    overflow: hidden;
    background-image: none;
    top: 61px;
    box-shadow: 0 2px 0 darken(#9854df,10%);
    background: #9854df;
    .container {
      margin-top: 0.3em;
      margin-bottom: 0.5em;
    }
    .title-sub {
      font-size: 20px;
      margin: 0;
    }
    &.expanded {
      height: 50px;
    }
  }
}

// Walk Label

.walk-label {
  font-family: "museo-slab", serif;
  padding: 5px 8px;
  color: #fff;
  background: #F2C50F;
  display: inline-block;
  float: left;
  margin-right: 30px;
  border-radius: 5px;
  font-size: 14px;
}

// Blog Cards

.blog {
  color: #666;
}

// Error 404

.error404 {
  padding-top: 0;
  background: #ebeef1;
  .container-outter {
    @extend .full;
    padding: 150px 0;
    color: #50616D;
    text-align: center;
    background: #fff;
  }
  .navbar_home {
    margin-top: 2em;
  }
}

// Reg Confirm 

.reg-confirmation, .reg-confirmation-congested {
  .modal-footer {
    text-align: center;
  }
  footer {
    display: none;
  }
}

.inline.tags .tag i[class^=icon-] {
  width:100%;
  display:block;
  text-align:center;
  line-height:20px;
}
