$orange: #F16725;
$blue: #6BADFD;

body { 
	/* customize_body_text */ font: normal 300 17px "museo-slab", serif; /* customize_body_text */
	/* customize_body_text */ color: #777777; /* customize_body_text */
	line-height:25px;
}

img {border: 0px}
a {
	/* customize_link */ color: #ff6600; /* customize_link */
  -webkit-transition-duration:0.2s;
  transition-duration:0.2s;
}
a:hover {
  opacity:0.8;
} 

h1,h2,h3,h4,h5{ 
  font-family: "museo-slab", Palatino, Georgia, serif; margin:0px 0px 4px 0px; padding:6px 0px; margin-top:8px; color:#222; font-weight:normal; line-height:1em;
}
h1 { font-weight:100; font-size:40px; color:$orange; }
h2 { font-weight:100; font-size:40px; color:#535051;}
h3 { font-weight:100; font-size:25px; color:$orange; }
h4 { font-weight:700; font-size:17px; color:#222; }
h5 { font-weight:700; font-size:14; color:#222; }

p,li{ padding:0px 0px 0px 0px; margin:0px 0px 12px 0px; font-family: FreightLight,Palatino,Georgia,serif; font-size:18px; line-height:1.3;  color: #555 }
li { margin:0; }
.pagenote h5 { /* customize_link */ color: #ff6600; /* customize_link */ font-weight:bold; }

span.tag {
	/* customize_tag_background */ background: #ff6600; /* customize_tag_background */
	color:#fff;
	padding:3px; margin-bottom:3px; display:inline-block;
}


@font-face{font-family:"FreightLight";src: url(fonts/FreightTextLight.woff) format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:"Averia";src: url(fonts/Averia-Regular.ttf) format('truetype');
font-weight:normal;font-style:normal}
@font-face{font-family:"Averia";src: url(fonts/Averia-Light.ttf) format('truetype');
font-weight:lighter;font-style:normal}
@font-face{font-family:"Averia";src: url(fonts/Averia-LightItalic.ttf) format('truetype');
font-weight:lighter;font-style:italic}

