/*
Syntax error: Undefined variable: "$orange".
        on line 5 of /home/ubuntu/janes-walk/themes/janeswalk/css/pages/sass/view.scss

1: /home/ubuntu/janes-walk/themes/janeswalk/css/pages/sass/view.scss

Backtrace:
/home/ubuntu/janes-walk/themes/janeswalk/css/pages/sass/view.scss:5
/usr/lib/ruby/vendor_ruby/sass/script/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/node.rb:40:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:298:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:139:in `block in compile'
/usr/lib/ruby/vendor_ruby/compass/logger.rb:45:in `red'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `each'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `block in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:100:in `run'
/usr/lib/ruby/vendor_ruby/compass/commands/update_project.rb:45:in `perform'
/usr/lib/ruby/vendor_ruby/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/vendor_ruby/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:30:in `block in <main>'
/usr/bin/compass:44:in `call'
/usr/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$orange\".\A         on line 5 of /home/ubuntu/janes-walk/themes/janeswalk/css/pages/sass/view.scss\A \A 1: /home/ubuntu/janes-walk/themes/janeswalk/css/pages/sass/view.scss"; }
