div.ccm-page-list-rss-icon {
  margin-top: 10px; }

div.ccm-page-list-tags {
  display: none; }

div.ccm-page-list-typeahead {
  position: relative;
  font-family: "museo-slab", "Roboto Slab", serif; }
  div.ccm-page-list-typeahead ul, div.ccm-page-list-typeahead li {
    list-style-type: none; }
  div.ccm-page-list-typeahead form > ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    margin: 0;
    border: 1px solid #999;
    background: #fff;
    padding: 5px;
    z-index: 1;
    width: 291px;
    max-height: 14em;
    overflow-y: scroll; }
    div.ccm-page-list-typeahead form > ul li.parent {
      padding-left: 5px;
      color: #888;
      font-size: 0.7em;
      font-weight: 700; }
    div.ccm-page-list-typeahead form > ul li {
      padding-left: 0;
      line-height: 24px;
      font-size: 15px;
      font-weight: 300; }
      div.ccm-page-list-typeahead form > ul li.filtered {
        display: none; }
  div.ccm-page-list-typeahead a {
    color: #f16725 !important; }
