div.ccm-page-list-rss-icon {margin-top: 10px}
div.ccm-page-list-tags { display:none; }
div.ccm-page-list-typeahead {
  $lightgrey: #efefef;
  $darkgrey:#b4b4b4;
  $buttonoffset:4px;
  $defaultWidth: 280px;
  position:relative;
  font-family:"museo-slab", "Roboto Slab", serif;
  ul, li { list-style-type:none; }
  fieldset.search > input[type=text]:focus + input[type=submit] + ul { display:block; }
  fieldset.search > ul {
    display:none;
    position:absolute;
    top:3em;
    left:0;
    margin:0;
    border:1px solid #999;
    background:#fff;
    padding:5px;
    z-index:2;
    width:$defaultWidth + 15px - $buttonoffset;
    max-height:14em;
    overflow-y:scroll;
    &:hover {
      display:block;
    }
    li.parent {
      padding-left:5px;
      color:#888;
      font-size:0.7em;
      font-weight:700;
    }
    li { padding-left:0; line-height:24px; font-size:15px; font-weight:300; 
      &.filtered { display:none; }
    }
  }
  a { color: #f16725 !important; }
}

