div.ccm-page-list-rss-icon {
  margin-top: 10px; }

div.ccm-page-list-tags {
  display: none; }

div.ccm-page-list-typeahead {
  position: relative;
  font-family: "museo-slab", "Roboto Slab", serif; }
  div.ccm-page-list-typeahead ul, div.ccm-page-list-typeahead li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  div.ccm-page-list-typeahead fieldset.search > ul {
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid #999;
    background: #fff;
    padding: 5px;
    z-index: 2;
    width: 291px;
    max-height: 14em;
    overflow-y: scroll; }
    div.ccm-page-list-typeahead fieldset.search > ul li.country {
      padding-left: 5px; }
      div.ccm-page-list-typeahead fieldset.search > ul li.country div.name {
        color: #888;
        font-size: 0.7em;
        font-weight: 700; }
      div.ccm-page-list-typeahead fieldset.search > ul li.country ul.cities {
        padding: 0 0 0 10px; }
        div.ccm-page-list-typeahead fieldset.search > ul li.country ul.cities li {
          line-height: 24px;
          font-size: 15px;
          font-weight: 300; }
          div.ccm-page-list-typeahead fieldset.search > ul li.country ul.cities li a {
            color: #f16725 !important; }
  div.ccm-page-list-typeahead fieldset.search li.aux {
    padding-left: 5px; }
    div.ccm-page-list-typeahead fieldset.search li.aux div.headline {
      color: #888;
      font-size: 0.7em;
      font-weight: 700; }
    div.ccm-page-list-typeahead fieldset.search li.aux a {
      padding: 0 0 0 10px;
      color: #f16725 !important; }
  div.ccm-page-list-typeahead fieldset.search input[type=text]:focus + input[type=submit] + ul {
    display: block; }
