$orange: #f16725;
div.ccm-page-list-rss-icon { margin:-2px 2px 0 0; clear:both; display:block; text-align:right; 
  font-size:24px;
  a > i { color: $orange; }
}
div.ccm-page-list-tags { display:none; }
div.ccm-page-list-walkcards {
  $buttonoffset:4px;
  position:relative;
  font-family:"museo-slab", "Roboto Slab", serif;
}

